 <div class="field">
    <%= f.label :color %><br>
    <%= f.text_field :color ,class:'common' %>
  </div>  
    

 <div class="field">
    <%= f.label :size %><br>
    <%= f.text_field :size ,class:'common'%>
  </div>  
<br>

